@import "template/header";
@import "template/footer";
@import "template/product";
@import "pages/productdetail";
body {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    background: #f4f4f4;
}