header {
    float: left;
    width: 100%;
    .HeaderHolder {
        float: left;
        width: 100%;
        padding: 0 20px;
        border-bottom: 1px solid #dedfe0;
        box-shadow: 0 1px 1px hsla(220, 7%, 92%, .25);
    }
    .searcholder {
        display: inline-block;
        background: #e8e9eb!important;
        border: 1.5px solid transparent;
        height: 45px;
        padding: 0;
        border-radius: 2px 0 0 2px;
        font-size: 13px;
        float: left;
        width: 60%;
        margin: 8px 0 0 0;
        position: relative;
        input[type="text"] {
            border: none;
            background: no-repeat;
            padding: 0 10px;
            height: 41px;
            width: 100%;
        }
        button.SearchBnt {
            position: absolute;
            background: #17aa1c;
            right: 0;
            top: -2px;
            border: none;
            bottom: 0;
            width: 40px;
            color: #fff;
            font-size: 18px;
        }
    }
    span.categories {
        color: #505763;
        font-weight: 400;
        padding: 20px 15px;
        font-size: 14px;
        display: inline-block;
        float: left;
        i.fa.fa-th {
            color: #a1a7b3;
            margin-right: 5px;
            margin-top: 3px;
            float: left;
            font-size: 17px;
        }
    }
    .navigation-menu>ul>li>a {
        float: left;
        width: 100%;
        text-align: left;
        font-family: 'Arial';
        padding: 21px 11px;
        font-size: 13px;
        color: #505763;
        font-size: 13px;
    }
    .logotag {
        float: left;
        padding: 8px 0;
        width: 85px;
        a img {
            color: #17aa1c;
            text-transform: capitalize;
            font-size: 26px;
            margin: 8px 0 0 0;
        }
    }
}