<div class="HeaderHolder">

    <div class="row">
        <div class="col-md-8">
            <h1 class="logotag">
                <a href="#"><img alt="logo" title="logo" src="images/logo1.png"></a>
            </h1>

            <span class="categories"><i class="fa fa-th"></i>categories</span>
            <div class="searcholder">
                <input placeholder="Search for Courses" type="text" />
                <button class="SearchBnt"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-md-4">
            <nav class="navigation-menu">
                <ul>

                    <li><a href="#">Udmey For Business</a></li>
                    <li><a href="#">Become an Instructor</a></li>

                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="login.html">Login</a></li>


                </ul>

            </nav>

        </div>

    </div>

</div>