<section class="dashboardbg">
    <div class="dashbrdbody">
        <div class="dashboardcontainer">

            <div class="preview-list product-detail">
                <img src="images/payproduct.png">
                <div class="product-main">
                    <div class="product-main-left">
                        <h3>Furnished Studio in Marina Square</h3>
                        <ul>
                            <li class="calenders">12/15/2015 - 12/17/2015</li>
                            <li class="guests">2 Guests</li>
                        </ul>
                    </div>
                    <div class="product-main-right">
                        <div class="rating-profile">
                            <div class="rating-content">
                                <h4>Andrew Olson</h4>
                                <h5><span>125</span><img src="images/stars.png"></h5>
                            </div>
                            <div class="rating-img">
                                <img src="images/review-profile.png">
                            </div>
                        </div>
                        <div class="preview-cash">
                            <p><sup>$</sup>100</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-gate">

                <div class="col-sm-9 col-xs-12 dashboard-right payment-gate-right">
                    <div class="panel panel-default">
                        <div class="panel-heading bill-cash"><i></i><span>BIlling Information</span></div>
                        <div class="panel-body">
                            <div class="gateway-main">
                                <div class="credit-card">
                                    <label for="credit">
                                <input type="radio" value="" name="quality" id="credit"> 
                                <span>Credit Card</span>
                              </label>
                                    <form>
                                        <div class="form-group">
                                            <label for="">Card Type:</label>
                                            <div class="card-hover">
                                                <select class="form-control">
                                    <option>Visa</option>
                                    <option>Maestro Card</option>
                                    <option>Master Card</option>
                                  </select>
                                                <img src="images/cards.png">
                                            </div>
                                        </div>
                                        <div class="card-number">
                                            <div class="form-group">
                                                <label for="">Credit Card Number:</label>
                                                <input type="text" class="form-control" placeholder="0000 - 0000 - 0000 - 0000">
                                            </div>
                                        </div>
                                        <div class="exp-date">
                                            <div class="form-group">
                                                <label for="">Expiration Date:</label>
                                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                  </select>
                                                <select class="form-control">
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                  </select>
                                            </div>
                                        </div>
                                        <div class="cvv">
                                            <div class="form-group">
                                                <label for="">CVV</label>
                                                <input type="text" class="form-control" placeholder="000">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="credit-card paypal">
                                    <label for="paypal">
                                <input type="radio" value="" name="quality" id="paypal"> 
                                <span>Paypal</span>
                              </label>
                                </div>
                                <div class="procedd-process">
                                    <p>By submitting a booking request, you accept the Rentersterms and conditions</p>
                                    <a href="#" class="btn process-btn">Proceed with Credit Card Payment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>