<!--//////////////////////////////////////////////////listpage starts///////////////////-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7 col-sm-7 col-xs-12 list-top-heading">
                    <h2>Furnished Studio in Marina Square</h2>
                    <p>Abu Dhabi, United Arab Emirates</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 list-top-review">
                    <div class="reviews">
                        <span>Jonathon Curry</span>
                        <a href="#"><img src="images/stars.png">125</a>
                    </div>
                    <a href="#"><img src="images/topprofile.png"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 list-top-dollar">
                    <div class="preview-cash">
                        <p><sup>$</sup>100</p>
                        <span>Per Night</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4 col-xs-12 list-top-heading">
                    <h2>Furnished Studio in Marina Square</h2>
                    <p>Abu Dhabi, United Arab Emirates</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12 list-top-dollar">
                    <div class="preview-cash">
                        <p><sup>$</sup>100</p>
                        <span>Per Night</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 check-type">
                    <div class="input-group check-input">
                        <div class="input-group-btn">
                            <button type="button" class=""><span class=""></span></button>
                        </div>
                        <input type="text" class="form-control" placeholder="Check In">
                    </div>
                    <div class="input-group check-input check-out">
                        <div class="input-group-btn">
                            <button type="button" class=""><span class=""></span></button>
                        </div>
                        <input type="text" class="form-control" placeholder="Check Out">
                    </div>
                    <div class="input-group check-input check-select">
                        <div class="input-group-btn">
                            <button type="button" class=""><span class=""></span></button>
                        </div>
                        <select class="form-control">
					  <option>#</option>
					  <option>1</option>
					</select>
                    </div>
                    <a class="book-btn" href="#" data-toggle="modal" data-target="#bookconfirm">Book Now</a>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 list-padd list-middle">
                <div class="col-md-12 col-sm-12 col-xs-12 pad0 bor-bottom middle-top">
                    <div class="col-md-6 col-sm-6 col-xs-12 pad0 room-type">
                        <ul>
                            <li>
                                <a href="#" class="list-private"><i></i><span>Private</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-guest"><i></i><span>4 Guests</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-bedroom"><i></i><span>2 BR</span></a>
                            </li>
                            <li>
                                <a href="#" class="list-bed"><i></i><span>2 Beds</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 check-type">
                        <div class="input-group check-input">
                            <div class="input-group-btn">
                                <button type="button" class=""><span class=""></span></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Check In">
                        </div>
                        <div class="input-group check-input check-out">
                            <div class="input-group-btn">
                                <button type="button" class=""><span class=""></span></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Check Out">
                        </div>
                        <div class="input-group check-input check-select">
                            <div class="input-group-btn">
                                <button type="button" class=""><span class=""></span></button>
                            </div>
                            <select class="form-control">
					  <option>#</option>
					  <option>1</option>
					</select>
                        </div>
                        <a class="book-btn" href="#" data-toggle="modal" data-target="#booknow">Book Now</a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 pad0 bor-bottom middle-center">
                    <h3>About This Listing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis semper neque, in finibus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus, rutrum finibus magna. Vestibulum
                        sagittis eu quam vitae tempus.</p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 pad0 bor-bottom middle-bottom">
                    <div class="col-md-6 col-sm-6 col-xs-12 pad0 amenities">
                        <h4>Amenities</h4>
                        <ul>
                            <li><a href="#" class="wifi"><i></i>Wireless Internet</a></li>
                            <li><a href="#" class="ac"><i></i>Air Conditioning</a></li>
                            <li><a href="#" class="essentials"><i></i>Essentials</a></li>
                            <li><a href="#" class="washer"><i></i>Washer / Dryer</a></li>
                            <li><a href="#" class="heating"><i></i>Heating</a></li>
                            <li><a href="#" class="tv"><i></i>Cable TV</a></li>
                            <li><a href="#" class="kitchen"><i></i>Kitchen</a></li>
                            <li><a href="#" class="more" data-toggle="modal" data-target="#signuppopup"><i></i>5 More</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pad0 price-aval">
                        <div class="price-top">
                            <h5>PRICING</h5>
                            <div class="price-label">
                                <label>Minimum Stay :</label>
                                <span>2 Nights</span>
                            </div>
                            <a href="#" class="cal" data-toggle="modal" data-target="#loginpopup">View Calendar</a>
                        </div>
                        <div class="price-top aval-bottom">
                            <h5>Availability</h5>
                            <div class="price-label">
                                <label>Cancellation Policy :</label>
                                <span>Flexible</span>
                            </div>
                            <div class="price-label">
                                <label>Security Deposit :</label>
                                <span>80</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 list-padd list-bottom">
                <div class="reviews-top">
                    <h6>
                        <a href="#"><img src="images/stars.png"> 123 Reviews</a>
                    </h6>
                    <div class="review-name">
                        <span>Jonathon Curry</span>
                        <img src="images/topprofile.png">
                    </div>
                </div>
                <div class="review-listing">
                    <ul>
                        <li>
                            <div class="review-listing-inner">
                                <div class="review-profile">
                                    <img src="images/review-profile.png">
                                </div>
                                <div class="review-content">
                                    <div class="review-content-top">
                                        <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        <h5><span>Submitted</span> <img src="images/stars.png"></h5>
                                    </div>
                                    <div class="review-content-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                            finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                    </div>
                                    <a href="#" class="review-help">Helpful</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="review-listing-inner">
                                <div class="review-profile">
                                    <img src="images/review-profile.png">
                                </div>
                                <div class="review-content">
                                    <div class="review-content-top">
                                        <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        <h5><span>Submitted</span> <img src="images/stars.png"></h5>
                                    </div>
                                    <div class="review-content-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                            finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                    </div>
                                    <a href="#" class="review-help">Helpful</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="review-listing-inner">
                                <div class="review-profile">
                                    <img src="images/review-profile.png">
                                </div>
                                <div class="review-content">
                                    <div class="review-content-top">
                                        <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        <h5><span>Submitted</span> <img src="images/stars.png"></h5>
                                    </div>
                                    <div class="review-content-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                            finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                    </div>
                                    <a href="#" class="review-help">Helpful</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="review-listing-inner">
                                <div class="review-profile">
                                    <img src="images/review-profile.png">
                                </div>
                                <div class="review-content">
                                    <div class="review-content-top">
                                        <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        <h5><span>Submitted</span> <img src="images/stars.png"></h5>
                                    </div>
                                    <div class="review-content-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                            finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                    </div>
                                    <a href="#" class="review-help">Helpful</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="review-listing-inner">
                                <div class="review-profile">
                                    <img src="images/review-profile.png">
                                </div>
                                <div class="review-content">
                                    <div class="review-content-top">
                                        <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        <h5><span>Submitted</span> <img src="images/stars.png"></h5>
                                    </div>
                                    <div class="review-content-bottom">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                            finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                    </div>
                                    <a href="#" class="review-help">Helpful</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>


<!--///////////////////////////////Pop-up section////////////////////////////-->