<!--//////////////////////////////////////////////////listpage starts///////////////////-->

<section>
    <div class="banner">
        <div class="container">
            <div class="col-md-7">
                <h2 class="mainTitle">Understanding TypeScript</h2>
                <h5 class="subTitle">Don't limit the Usage of TypeScript to Angular 2! Learn the Basics, its Features, Workflows and how to use it!</h5>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-7">

            <div class="FloatingDiv">
                <div class="list-top-heading">
                    <h2>Furnished Studio in Marina Square</h2>
                    <p>Abu Dhabi, United Arab Emirates</p>
                </div>

                <div class="facility">


                    <a class="buy-btn" href="#" data-toggle="modal" data-target="#bookconfirm">Buy Now</a>
                    <a class="Addcart-btn" href="#" data-toggle="modal" data-target="#bookconfirm">Add to Cart</a>
                    <span class="garente">30-Day Money-Back Guarantee</span>

                    <h4 class="includ"> Includes:</h4>
                    <ul class="listamit">
                        <li>1 hour on-demand video</li>
                        <li>8 Articles</li>
                        <li>8 Supplemental Resources</li>
                        <li>Full lifetime access</li>
                        <li>Access on mobile and TV</li>
                        <li>Certificate of Completion</li>
                    </ul>
                </div>
            </div>

            <div class="sectionMiddle">

                <div class="Requirement">
                    <h3>Requirements</h3>
                    <ul>
                        <li>
                            Students should have a basic to intermediate knowledge of tennis, including a basic understanding of each swing and tennis rules
                        </li>
                        <li>
                            All a student needs to take this course is a computer or mobile device with internet connection
                        </li>
                    </ul>
                </div>
                <div class="Requirement">
                    <h3>Description</h3>
                    <p class="desctiptionContern">
                        Boost your tennis game in no time with this course from eight-time Grand Slam champion Andre Agassi. For the first time, one of the game’s all-time greats is sharing 20 years of tour experience to help you advance your skills and give back to the game
                        that gave him so much. These bite-sized lessons focus on only what’s most important to help you improve and see immediate results on the court. Andre not only covers specific techniques and strategies for all essential strokes,
                        but also how to develop the mental tenacity and focus that sets a champion apart. The course will help you:
                    </p>
                    <label for="">+ view more</label>
                </div>

                <div class="Requirement">
                    <h3>Review</h3>
                    <div class="review-listing">
                        <ul>
                            <li>
                                <div class="review-listing-inner">
                                    <div class="review-profile">
                                        <img src="images/review-profile.png">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-content-top">
                                            <h4><a href="#">Grace Pittman</a><span>Nov 23, 2015</span></h4>
                                        </div>
                                        <div class="review-content-bottom">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagitis semper neque, in finbus orci vehicula ac. Maecenas et turpis in augue porta gravida. Vestibulum justo velit, commodo placerat lectus at, rutrum
                                                finbus magna. Vestibulum sagis eu quam vitae tempus placerat... <a href="#">Read More</a></p>
                                        </div>
                                        <a href="#" class="review-help">Helpful</a>
                                    </div>
                                </div>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!--///////////////////////////////Pop-up section////////////////////////////-->